* {
    box-sizing: border-box;
  }
  
.imgfile{
  width: 100px;
  height:100px;
  position: relative;
  border: 2px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.imgfile .upload{
  width:100%;
  height:100%;
}

.fileimages{
  float: left;
  width: 16%;
  margin-left: 35px;
}

input[type=text], textarea, select{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=date]{
width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  
}

.submit {
  background-color: rgb(160, 65, 101);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  
}

.submit:hover {
  background-color: #ffffff;
  color: rgb(160, 65, 101);
}

.main{
  position: relative;
}
.container {
  position: absolute;
  left:45%;
  top: 25%;
  border-radius: 5px;
  background-color: rgb(223, 182, 182);
  padding: 20px;
  width:750px;
  height: 500px;
  padding-top: 40px;
}
.secondcontainer {
  position: absolute;
  left:50%;
  top: 13%;
  border-radius: 5px;
  background-color: rgb(223, 182, 182);
  padding: 20px;
  width:1000px;
  height: 1170px;
  padding-top: 40px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  padding-left:10px;
  
 
}

.col-75 {
  float: left;
  width: 60%;
  margin-top: 6px;
  margin-left:30px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row{
  padding-bottom: 20px;
}

h2{
  font-size: 45px;
  color: rgb(160, 65, 101);
}
#etable{
  
  left:15%;


  padding:100px;
  width:1700px;
  height: absolute;
  text-align: center;
  background-color: rgb(160, 65, 101);
}
#etable th{
  color:white;
  text-align: center;
  font-size: 22px;
}
#etable td{
  text-align: center;
  height:10px;
  
}