* {
  box-sizing: border-box;
}

.main{
position: relative;
}

.pcontainer{
  display:inline-block;
  left:37%;
  top:20%;
}
.dropdown-container {
display: none;
background-color: #262626;
padding-left: 8px;
}
.customertable{
  display: inline-block;
  top:20%;
}
/* Optional: Style the caret down icon */
.fa-caret-down {
float: right;
padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
#ctable{
  position: absolute;
  left:15%;
  top: 90%;
  padding:100px;
  width:2200px;
  height: absolute;
  text-align: center;
  background-color: rgb(160, 65, 101);
}
#ctable th{
  color:white;
  text-align: center;
  font-size: 20px;
}
#ctable td{
  text-align: center;
  height:10px;
  
}
#dtable{
  
  left:15%;

height: 1402px;
  padding:100px;
  width:1750px;
  height: absolute;
  text-align: center;
  background-color: rgb(160, 65, 101);
}
#dtable th{
  color:white;
  text-align: center;
  font-size: 22px;
}
#dtable td{
  text-align: center;
  height:10px;
  
}
h2{
  font-size: 45px;
  color: rgb(160, 65, 101);
}
#etable{
  
  left:15%;


  padding:100px;
  width:1750px;
  height: absolute;
  text-align: center;
  background-color: rgb(160, 65, 101);
}
#etable th{
  color:white;
  text-align: center;
  font-size: 22px;
}
#etable td{
  text-align: center;
  height:10px;
  
}

.ccontainer{
position: absolute;
top:6.8%;
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
font-family: 'Josefin Sans', sans-serif;
}
.cat{
position: absolute;
top:10%;
left: 20%;
margin-top:30px;
background-color:white;
}

.cat-block{
background:#dcdcdc;
width:2300px;
height:400px;
padding:20px 20px 20px 20px;
margin-top:20px;
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
float:left;
}
.csidebar{
width: 400px;
height: 140%;
background: rgb(185, 134, 154);
padding: 30px 0px;
position: fixed;
}

.csidebar h2{
color: #fff;
text-transform: uppercase;
text-align: center;
margin-bottom: 30px;
}

.csidebar ul li{
padding: 15px;
color: #020202;
background-color: #e1ddf3;
font-size: 25px;
border-bottom: 3px solid rgba(0,0,0,0.05);
border-top: 1px solid rgba(255,255,255,0.05);
}    

.csidebar ul li a{

display: block;
font-size: 20px;
}


.csidebar ul li:hover{
background-color: rgb(189, 121, 147);
}
  
/* .csidebar ul li:hover a{
color: #fff;
} */

.csidebar .social_media{
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
display: flex;
}

.csidebar .social_media a{
display: block;
width: 40px;
background: #594f8d;
height: 40px;
line-height: 45px;
text-align: center;
margin: 0 5px;
color: #bdb8d7;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}

.main_content{
width: 100%;
margin-left: 300px;
}


.main_content .header{
padding: 20px;
background: #fff;
color: #717171;
border-bottom: 1px solid #e0e4e8;
text-align: center;
}

.main_content .info{
margin: 0px;
color: #717171;
line-height: 25px;
}

.main_content .info div{
margin-bottom: 20px;
}

@media (max-height: 500px){
.social_media{
  display: none !important;
}
}

.subcat{
border: 1px solid #020202;
width:18%;
height:230px;
margin-bottom: 20px;
margin-left: 40px;
margin-right: 40px;
position: relative;
display: inline-block;
}


.image {
display: block;
width: 100%;
height: 100%;
}

.overlay {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: rgb(66, 64, 64);
overflow: hidden;
width: 100%;
height: 100%;
-webkit-transform: scale(0);
-ms-transform: scale(0);
transform: scale(0);
-webkit-transition: .3s ease;
transition: .3s ease;
}

.subcat:hover .overlay {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}

.cattext {
color: white;
font-size: 30px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

label{
  display: inline-block;
}

* {padding:0; margin:0;}
a {text-decoration: none;}
li {list-style: none;}
/* Navigation STyling */
.csidebar {width: 500px; background: rgb(189, 121, 147);}
.csidebar a {
letter-spacing: .2em;
color: rgb(8, 8, 8);
display: block;
padding: 10px 0 10px 20px;
border-bottom: 1px  rgb(10, 10, 10);
}
.csidebar a:hover {background:  rgb(189, 121, 147);}
.main-nav-ul ul {display: none;}
.main-nav-ul li:hover ul {display: block;}

.main-nav-ul ul a:before {
margin-right: 20px;
}
.productalone{
  position: absolute;
  top:20%;
  left: 20%;
  padding-left:10px;
  padding-top:20px;
  width: 1800px;
  height: 900px;
  background-color:white;
  display: inline-block;
  border-radius: 5%;
  }
  .customerimage{
    width:250px;
    height:250px;
    padding:20px;
  }
  .div_left{
    
    width: 600px;
    height:750px;
    display: inline-block;
    margin-right:20px;
    border-color: white;

  }
  .div_right{
    
    width: 600px;
    height:750px;
    display: inline-block;
    /* float: none; */
    
  }
  input[type="text"]{
  width: 70%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  resize: vertical;
  }

  img{
    border:1px solid black;
  }
  h3{
    margin-left:10%;
    width: 130%;
  }
  td{
    width:800px;
    padding:5px 120px 10px 20px;
  }
  .tableclass{
    display:inline-block;
  }
  .productalonetable{
    /* background-color: #f4dddd; */
    width: 800px;
    margin-left:0%;
    margin-top:80px;
    padding-left:20px;
    display:inline-block;
    text-align: left;
    
  }
  .productalonebtn{
    background-color: rgb(160, 65, 101);
    color:white;
    font-size:25px;
    padding:15px;
    margin-left:120px;
  }
  .mycarttable {
    position: absolute;
    left:15%;
    top: 20%;
    padding-bottom:0px;
    background-color: rgb(255, 255, 255);
    width:1200px;
    height: absolute;
    
  }
  .cost{
    text-decoration-line: line-through;
    font-size: 25px;
  }
  .nominal{
    font-size: 30px;
  }
  .heading{
    font-size: 40px;
    background-color: rgb(160, 65, 101);
    color: white;
  }
 
  

 























