.adminmain{
  position: relative;
}
.adminc{
  position: absolute;
  top:30%;
  left:15%;
  padding: 25px;
  width: 600px;
  background-color: rgb(223, 182, 182);
}
.adminreq{
  position: absolute;
  top:30%;
  left:55%;
  padding: 25px;
  width: 600px;
  background-color: rgb(223, 182, 182);
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #ffffff;
}

textarea{
width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #ffffff;
}

.addlabel{
  float: left;
}
/* Set a style for the submit button */
.addbtn {
  background-color: rgb(160, 65, 101);
  color: white;
  padding: 16px 20px;
  margin: 30px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.addbtn:hover {
  opacity: 1;
}

.imgf{
  width: 100px;
  height:100px;
  position: relative;
  border: 2px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.imgf .upload{
  width:100%;
  height:100%;
}

.fimages{
  margin-left:120px;
  width: 19%;
}
