body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  .home{
    width:100%;
    height:100%;
    margin:0px;
  }
  
  .nav{
      width:100%;
      height:100%;
  }
  .image img {
    width: 2500px;
    height: 1250px;
  }
  
  .image .btn {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: rgb(160, 65, 101);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 250px;
    transition: all 0.5s; 
    cursor: pointer;
    margin: 5px;
  }
  .image .btn span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .image .btn span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .image .btn:hover span{
    padding-right: 25px;
  }
  .image .btn:hover span:after{
    opacity: 1;
    right: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: rgb(160, 65, 101);
  }
  .nav{
    height:70px;
    
  }
  
  
  .nav li a {
    display: block;
    color: rgb(26, 17, 17);
    text-align: center;
    text-decoration: none;
    margin-right: 35px;
    padding-right: 25px;
  }
  
  .nav li a:hover:not(.active) {
    background-color: #ddd;
    color: rgb(160, 65, 101);
  }
  
  .nav li a.active {
    color: white;
    padding: 15px;
    float: left;
  }
  .nav li a.links {
    color: white;
    padding: 25px;
    width: 130px;
    height:100px;
    float: right;
    font-size: 20px;
  }
  





  