.adminmain11{
    position: relative;
  }
#table{
  position: absolute;
  left:22%;
  top: 20%;
  padding:100px;
  width:1500px;
  height: absolute;
  text-align: center;
  
  background-color: rgb(160, 65, 101);
  /* border-collapse: separate;
  border-spacing: 10px; */
}
#table th{
  color:white;
}
.validatetable tr td{
  width:1000px;
}
button{
  font-size:20px;
  padding:10px;
}
.validateimage{
  width: 250px;
  height: 250px;
  padding:20px;
}
.foralign td{
  text-align:center;
  
}